<h1>GOV.UK HMRC Manuals API</h1>

<ul>
  <li><%= link_to "Documentation (current)", "/documentation" %></li>
  <li><%= link_to "Source code (latest)", "https://github.com/alphagov/hmrc-manuals-api" %>
</ul>
